# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.venv/
venv/

# Environment
.env

# IDE/editor
.vscode/
.idea/

# OS/filesystem
.DS_Store
Thumbs.db

# Logs
*.log

# Test/cache
.pytest_cache/
.mypy_cache/
.coverage

# Build artifacts
build/
dist/

# Local MySQL data (Docker volume)
flask_db/
